---
title: "Visite"
layout: default
permalink: "/visite.html"
---

<!-- <p>Visite Guidate</p>

#<ul>
#  {% for post in site.categories.Visite %}
#    {% if post.url %}
#        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
#    {% endif %}
#  {% endfor %}
#</ul>
-->




<!-- <div class="row listrecent"> -->
<!-- {% for category in site.categories.Visite %} -->
<div class="section-title col-md-12 mt-4">
<h2>Visite Guidate</h2>
</div>
{% assign pages_list = site.categories.Visite %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}
</div>
